*{
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style: none;
}
a{
    text-decoration: none;
}

#navbarNav li:hover > a {
    background-color:#FFB74D;
    color:#B71C1C !important;
    width: auto;
    border-radius: 20px;
    transition: .5s;   
}

.about, .contact{
    background-image: url(image/bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    line-height: 1.5;
}

h5{
    font-family: righteous;
}

.content{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100% ;
    padding: 20px;
}
.gc{
    background-image: linear-gradient(rgb(236, 184, 184), rgba(255, 61, 61, 0.774), rgb(236, 199, 189));
    border-radius: 10px;
}

.cardtitle {
    border: 2px solid whitesmoke;

}
.basics .card{
    width: 250px !important;
    height: auto !important;
    margin-bottom: 5px;
}
.products .card{
    width: 250px !important;
    height: auto !important;
    margin-bottom: 15px;
}
/* hover */
.zoom{
  transition: transform .5s;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.08); 
}
.style {
width: 100% !important;
height: 100% !important;
}

.btn-primary{
    width: 100%;
    background-color: #B71C1C !important;
}
.dropdown-menu a:hover{ 
background-color: #B71C1C;
color: #f1f1f1;
border-radius: 5px;
}

  *{
    box-sizing:border-box;
  }
  
  .bg-image{
    position: relative;
    text-align: center;
  }
  .bg-image img{
    filter: blur(3px);
    -webkit-filter: blur(4px);
  }
  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 50%;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  .footer{
    background-image: linear-gradient(rgb(126, 122, 122), rgb(2, 2, 2), rgb(124, 123, 123));
  }